
.fab {
  padding: 5px;
  color: var(--text-color);
}

.fab:hover {
  border: 1px solid var(--text-color);
  border-radius: 50%;
}

.back {
  position:fixed;
  bottom: 50px;
  right: 50px;
  opacity: 70%;
}

.breadcrumb a:hover {
  text-decoration: none;
}

.box-shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .15);
}

.box-shadow:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, .30);
  transition: box-shadow .3s;
}


/* 深色背景 */

#icon{
  cursor: pointer;
}

:root {
  --primary-color: #fff;
  --secondary-color: #FAF4FF;
  --text-color: black;
}

.dark-mode {
  --primary-color: #1f2937;
  --secondary-color: #111827;
  --text-color: #ffff;
}

body {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}
.navbar {
  background-color: var(--secondary-color);
}

.card-body {
  background-color: var(--primary-color);
}

.table {
  color: var(--text-color) !important;
}