
.carousel-item {
  height: 650px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.img-item {
  height: 350px;
  border: 1px solid;
}


h2:hover {
  font-size: 42px;
  transition: all 0.3s;
}

.fab:hover {
  color: 	#97CBFF;
}


